.header {
}
.header__container {
  display: flex;
  justify-content: space-between;
  margin: 5.5rem 0;

  .header__nav__toggler {
    display: none;
  }
  .header__nav {
    display: flex;
    gap: 4rem;
    align-items: center;
    .header__item {
      .header__link {
        color: $gunmetal;
        font-size: $body-fz;
        line-height: $body-lh;
        &:active {
          color: $btn-cl;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header__item {
    display: none;
  }

  .header__container {
    padding-top: 2.8rem;
    margin-bottom: 3.2rem;
    .header__nav__toggler {
      background-color: transparent;
      border: none;
      display: block;
    }
  }
}

@media screen and (max-width: 375px) {
  .header__container {
    width: 343px;
    padding-top: 2.8rem;
    margin-bottom: 3.2rem;
    .header__nav__toggler {
      background-color: transparent;
      border: none;
      display: block;
    }
  }
  .header__item {
    display: none;
  }
}
